<span id="beta" class="beta">
  <i class="icon icon-cog"></i>
   <a href="{{site.github.root}}/tree/master/src/site/{{page.path| uri_escape }}" target="_blank">View Source</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{site.github.root}}/issues/new?title={{"Feedback for: " | uri_escape }}{{page.url| uri_escape }}" target="_blank">Submit Feedback</a>
</span>

