{% if site.include_open_html %}
<meta charset="utf-8" />
{% endif %}

{% capture page_title %}{% if page.title %}{{ page.title }} — {%endif%}Web Fundamentals{% endcapture %}
<title>{{ page_title }}</title>

<meta name="author" content="" />
<meta name="description" content="" />
<link rel="icon" href="{{site.baseurl}}/favicon.ico" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1" />

<meta property="twitter:account_id" content="@chromium_dev" />
{% if page.rel.gplusauthor %}<link rel="publisher" href="{{ page.rel.gplusauthor }}">{% endif %}

<meta itemprop="name" content="{{ page_title }}">
{% if page.snippet_img %}
<meta itemprop="image" content="{{ page.snippet_img }}">
{% else %}
<meta itemprop="image" content="/imgs/lono.png">
{% endif %}
<meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}Google Web Fundamentals{% endif %}">

<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/styles.min.css" />
