{% if site.include_open_html %}
<meta charset="utf-8" />
{% endif %}

{% capture page_title %}{% if page.id != "home" %}{{ page.title }} — Web Fundamentals{%else%}Web Fundamentals — Google Developers{%endif%}{% endcapture %}
<title>{{ page_title }}</title>

{% if page.rel.gplusauthor %}
<meta name="author" content="{{ page.rel.gplusauthor }}" />
{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else %}
<meta name="description" content="Google Web Fundamentals" />
{% endif %}

<link rel="icon" href="{{site.baseurl}}/favicon.ico" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1" />

<meta property="twitter:account_id" content="@chromium_dev" />
{% if page.rel.gplusauthor %}<link rel="publisher" href="{{ page.rel.gplusauthor }}">{% endif %}

<meta itemprop="name" content="{{ page_title }}">
{% if page.snippet_img %}
<meta itemprop="image" content="{{ page.snippet_img }}">
{% else %}
<meta itemprop="image" content="/imgs/logo.png">
{% endif %}
<meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}Google Web Fundamentals{% endif %}">

<meta property="og:title" content="{{ page_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://developers.google.com/web/fundamentals/" />
<meta property="og:image" content="{{ page.snippet_img }}" />
<meta property="og:image" content="/imgs/logo.png" />

<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/styles.min.css" />
