<nav class="main-nav">

  <ul class="main-nav__list clear">
  {% for section in page.content.toc %}
    <li class="main-nav__item {% if section.logo %} main-nav__item--logo {% endif %}">
      <a class="main-nav__link" href="{{ section.path }}" title="{{ section.title }}">
        {{ section.title }}
      </a>

      {% if section.title == "The essentials" %}

        <div class="main-nav__secondary-nav">

          <div class="main-nav__secondary-content">
            <a href="#" class="cta--secondary main-nav__link main-nav__link--child main-nav__link--explore">Explore The Essentials</a>

            <div class="clear">
              <ul class="main-nav__list--child g-medium--2 g-wide--2">
                {% for subsection in section.section %}
                  <li class="main-nav__item--child">
                    <a class="main-nav__link main-nav__link--child" href="{{ subsection.path }}">{{ subsection.title }}</a>
                  </li>
                {% endfor %}
              </ul>

              <div class="main-nav__featured g-medium--1 g-medium--last g-wide--2 g-wide--last">
                <p class="main-nav__featured-title medium">Feature case study</p>
                <p class="main-nav__featured-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="cta--secondary main-nav__featured-cta">View</a>
              </div>
            </div>
          </div>
        </div>

      {% endif %}

    </li>
  {% endfor %}
  </ul>

</nav>
