<nav class="main-nav">

  <ul class="main-nav__list clear">
  {% for section in page.content.toc %}
    <li class="main-nav__item main-nav__item--{{ section.title | downcase | replace:' ','-' }} {% if section.home %} main-nav__item--home {% endif %}{% unless section.home %}{% if page.url contains section.path %} main-nav__item--current{% endif %}{% endunless %}">
      <a class="main-nav__link" href="{{site.baseurl}}{{ section.path }}" title="Go to {{ section.title }}">
        {{ section.title }}
        {% if section.title == "Documentation" %}
        <i class="main-nav__icon icon icon-custom"></i>
        {% else %}
        <i class="main-nav__icon icon icon-chevron-right"></i>
        {% endif %}
      </a>

      {% if section.title == "Documentation" %}

        <div class="main-nav__secondary-nav">

          <div class="main-nav__secondary-content">
            <div class="main-nav__link--explore-wrapper">
              <a href="{{site.baseurl}}{{ section.path }}" title="Explore The Documentation" class="main-nav__link main-nav__link--child main-nav__link--explore">Explore The Documentation <i class="main-nav__icon icon icon-chevron-right"></i></a>
            </div>

            <div class="clear">
              <ul class="main-nav__list--child g-medium--2 g-wide--2">
                {% for subsection in section.section %}
                  <li class="main-nav__item--child nav-theme--{{subsection.id}}">
                    <a class="main-nav__link main-nav__link--child themed--hover" title="Go to {{ subsection.title }}" href="{{site.baseurl}}{{ subsection.path }}">
                      <span class="main-nav__guide-icon icon-circle--nav themed--background"><i class="icon icon-{{subsection.id}}"></i></span> {{ subsection.title }} <i class="main-nav__icon icon icon-chevron-right"></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>

              {% comment %}
              <div class="main-nav__featured g-medium--1 g-medium--last g-wide--2 g-wide--last">
                <p class="main-nav__featured-title medium">Feature case study</p>
                <p class="main-nav__featured-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit amet, consectetur adipiscing elit.</p>
                <a href="{{site.baseurl}}#" title="View the case study" class="cta--secondary main-nav__featured-cta">View</a>
              </div>
              {% endcomment %}
            </div>

          </div>
        </div>

      {% endif %}

    </li>
  {% endfor %}
  </ul>

  <button class="main-nav__btn btn--toggle-nav">
    <i class="icon icon-menu"></i>
  </button>

</nav>
