{% assign superSection = page.title %}
{% for section in page.content.toc %}
{% unless section.home %}{% if page.url contains section.path %}{% assign superSection = section.title%}{% endif %}{% endunless %}
{% if section.home and page.url == '/index.html' %}{% assign superSection = 'Web <strong>Fundamentals</strong>'%}{% endif %}
{% endfor %}

<nav class="main-nav">

  <header class="main-nav__header">
    <span class="main-nav__current-label">{{superSection}}</span>
  </header>

  <ul class="main-nav__list clear">
  {% for section in page.content.toc %}
    {% assign checkTitle = section.title | downcase | trim | replace:' ','-' %}
    {% if site.spotlights == true or checkTitle != 'spotlights' %}
    <li class="main-nav__item main-nav__item--{{ section.title | downcase | replace:' ','-' }} {% if section.home %} main-nav__item--home {% endif %}{% unless section.home %}{% if page.url contains section.path %} main-nav__item--current{% endif %}{% endunless %}{% if section.home and page.url == '/index.html' %} main-nav__item--current{% endif %} {% if section.hasSubNav %} main-nav__item--has-child{% endif %}">
      <a class="main-nav__link main-nav__link--parent" href="{{site.baseurl}}{{ section.path }}" title="Go to {{ section.title }}">

        {{ section.title }}

        {% if section.hasSubNav %}
        <i class="main-nav__icon icon icon-custom"></i>
        {% else %}
        <i class="main-nav__icon icon icon-chevron-right"></i>
        {% endif %}
      </a>

      {% if section.hasSubNav %}

        <div class="main-nav__secondary-nav">

          <div class="main-nav__secondary-content">

            <div class="clear">
              <ul class="main-nav__list--child g-medium--2 g-wide--2">
                {% for subsection in section.section %}
                  <li class="main-nav__item--child nav-theme--{{subsection.id}}">
                    <a class="main-nav__link main-nav__link--child themed--hover" title="Go to {{ subsection.title }}" href="{{site.baseurl}}{{ subsection.path }}">
                      <span class="main-nav__guide-icon icon-circle--nav themed--background"><i class="icon icon-{{subsection.id}}"></i></span> {{ subsection.title }} <i class="main-nav__icon icon icon-chevron-right"></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>

              {% comment %}
              <div class="main-nav__featured g-medium--1 g-medium--last g-wide--2 g-wide--last">
                <p class="main-nav__featured-title medium">Feature case study</p>
                <p class="main-nav__featured-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit amet, consectetur adipiscing elit.</p>
                <a href="{{site.baseurl}}#" title="View the case study" class="cta--secondary main-nav__featured-cta">View</a>
              </div>
              {% endcomment %}
            </div>

          </div>
        </div>

      {% endif %}

    </li>
    {% endif %}
  {% endfor %}
  </ul>
  <button class="main-nav__btn btn--toggle-nav">
    <i class="icon icon-menu"></i>
  </button>

</nav>
