<nav class="main-nav">

  <ul class="main-nav__list clear">
  {% for section in page.content.toc %}
    <li class="main-nav__item {% if section.logo %} main-nav__item--logo {% endif %}">
      <a class="main-nav__link" href="{{ section.path }}" title="{{ section.title }}">
        {{ section.title }}
      </a>

      {% if section.title == "The essentials" %}

        <div class="main-nav__secondary-nav">

          <div class="main-nav__secondary-content">
            <a href="#" class="main-nav__link main-nav__link--child main-nav__link--explore">Explore The Essentials</a>

            <ul class="main-nav__list--child">
              {% for subsection in section.section %}
                <li class="main-nav__item--child">
                  <a class="main-nav__link main-nav__link--child" href="{{ subsection.path }}">{{ subsection.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      {% endif %}

    </li>
  {% endfor %}
  </ul>

</nav>
