<span id="beta" class="beta">
  <a href="{{site.github.root}}/tree/master/src/{{page.path| uri_escape }}" target="_blank">{{"view_source" | localize_string}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{site.github.root}}/issues/new?title={{"[" | uri_escape }}{{page.langcode | upcase}}{{"] Feedback for: " | uri_escape }}{{page.url| uri_escape }}" target="_blank">{{"submit_feedback" | localize_string}}</a>
</span>
