<div class="container clear">
	<div class="g-wide--3 g-wide--last">
    {% if page.authors %}
		<h4>{{"authors" | localize_string}}</h4>
		{% for author in page.authors %}
		{% assign contributor = site.data["contributors"][author] %}
    <a href="{{site.url}}/fundamentals/resources/contributors/index.html#{{author}}">
      {{contributor.name.given}} {{contributor.name.family}}</a>{% if forloop.last == false %}, {% endif %}
		{% endfor %}
    {% endif %}
		{% if page.translators %}
		<h4>{{"translators" | localize_string}}</h4>
		{% for author in page.translators %}
		{% assign contributor = site.data["contributors"][author] %}
<a href="{{site.url}}/fundamentals/resources/contributors/index.html#{{author}}">{{contributor.name.given}} {{contributor.name.family}}</a>{% if forloop.last == false %}, {% endif %}
		{% endfor %}
		{% endif %}
	</div>
</div>
