<meta name="google-site-verification" content="zFM_etMkM6oOvH6CNip7QxEbslAw6kJ2kiGJBYYBIcA" />
{% capture page_title %}
{% if page.meta_title %}
	{{ page.meta_title }}
{% else %}

	{% case page.collection %}
	{% when 'updates' %}
		{{ page.title }} — Google Web Updates
	{% when 'showcase' %}
		{{ page.title }} — Google Web Showcase
	{% when 'case-study' %}
		{{ page.title }} — Google Web Showcase
	{% when 'spotlight' %}
		{{ page.title }} — Google Web Showcase
	{% when 'tools' %}
		{{ page.title }}
	{% else %}
		{{ page.title }} — Web Fundamentals
	{% endcase %}

{% endif %}
{% endcapture %}
<title>{{ page_title | trim }}</title>

{% assign author = page.authors[0] %}
{% assign main_author = site.data["contributors"][author]%}

{% if main_author.google %}
<meta name="author" content="https://plus.google.com/{{ main_author.google }}/posts" />
{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description | strip_html }}" />
{% else %}
<meta name="description" content="Google Web Fundamentals" />
{% endif %}

<link rel="canonical" href="https://developers.google.com/web{{page.url | canonicalize}}">
<link rel="icon" href="{{site.baseurl}}/favicon.ico" />

{% for translated_page in page.translations %}
<link rel="alternate" hreflang="{{translated_page.langcode}}" href="/web{{page.url}}?hl={{translated_page.langcode}}" />
{% endfor %}

{% if page.nofeed != true %}
  {% if page.filepath contains "updates"%}
<link rel="alternate" type="application/rss+xml" title="Updates RSS" href="{{site.baseurl}}/updates/rss.xml">
<link rel="alternate" type="application/atom+xml" title="Updates RSS" href="{{site.baseurl}}/updates/atom.xml">	
  {% elsif page.feedPath %}
<link rel="alternate" type="application/rss+xml" title="{{page.feedName}}" href="{{site.baseurl}}/{{page.feedPath}}">
	{% elsif include.feedURL %}
<link rel="alternate" type="application/rss+xml" title="{{include.feedName}}" href="{{include.feedURL}}">
  {% elsif page.feedURL %}
<link rel="alternate" type="application/rss+xml" title="{{page.feedName}}" href="{{page.feedURL}}">
	{% else %}
<link rel="alternate" type="application/rss+xml" title="Fundamentals" href="{{site.baseurl}}/fundamentals/feed.xml">
	{% endif %}
{% endif %}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification" content="zFM_etMkM6oOvH6CNip7QxEbslAw6kJ2kiGJBYYBIcA" />

{% if page.thumbnail %}<meta name="twitter:card" content="summary_large_image">{% else %}<meta name="twitter:card" content="summary">{% endif %}
<meta name="twitter:account_id" content="@chromiumdev" />
<meta name="twitter:site" content="@chromiumdev" />
<meta name="twitter:description" content="{{ page.description | strip_html }}" />
{% if main_author.twitter %}<meta name="twitter:creator" content="{{ main_author.twitter }}" />{% else %}<meta name="twitter:creator" content="@chromiumdev" />{% endif%}
{% if page.thumbnail %}<meta name="twitter:image:src" content="https://developers.google.com/{{site.baseurl}}{{ page.filepath }}/{{ page.thumbnail }}" />
{% else %}<meta name="twitter:image:src" content="https://developers.google.com/web/imgs/logo.png" />{% endif %}


{% if main_author.google %}<link rel="author" href="https://plus.google.com/{{ main_author.google }}/posts">{% endif %}
<link rel="publisher" href="https://plus.google.com/+GoogleChromeDevelopers">

<meta itemprop="name" content="{{ page_title | trim }}">
{% if page.thumbnail %}<link itemprop="image" href="https://developers.google.com/{{site.baseurl}}{{ page.filepath }}/{{ page.thumbnail }}">{% else %}<link itemprop="image" href="https://developers.google.com/web/imgs/logo.png">{% endif %}
<meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}Google Web Fundamentals{% endif %}">

<meta property="og:site_name" content="Web Fundamentals" />
<meta property="og:title" content="{{ page_title | trim }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://developers.google.com/web/fundamentals/" />
{% if page.snippet_img %}<meta property="og:image" content="https://developers.google.com/{{site.fundamentals}}{{ page.filepath }}/{{ page.thumbnail }}" />
{% else %}<meta property="og:image" content="https://developers.google.com/web/imgs/logo.png" />{% endif %}
<meta property="og:publisher" content="https://www.facebook.com/googlechrome" />
{% if main_author.facebook %}<meta property="og:author" content="{{ main_author.facebook }}" />{% endif %}

{% comment %}
Adds themed colors for web site stickiness.
{% endcomment %}
{% if page.filepath contains "principles" %}
<meta name="theme-color" content="#ff5722">
{% elsif page.filepath contains "layouts" %}
<meta name="theme-color" content="#297ea8">
{% elsif page.filepath contains "input" %}
<meta name="theme-color" content="#ff0000">
{% elsif page.filepath contains "look-and-feel" %}
<meta name="theme-color" content="#404040">
{% elsif page.filepath contains "media" %}
<meta name="theme-color" content="#cf423a">
{% elsif page.filepath contains "monetization" %}
<meta name="theme-color" content="#056f00">
{% elsif page.filepath contains "device-access" %}
<meta name="theme-color" content="#28a8a8">
{% elsif page.filepath contains "performance" %}
<meta name="theme-color" content="#7b5294">
{% elsif page.filepath contains "tools" %}
<meta name="theme-color" content="#cf3a8c">
{% elsif page.filepath contains "discovery-and-distribution" %}
<meta name="theme-color" content="#3f51b5">
{% elsif page.filepath contains "input" %}
<meta name="theme-color" content="#2c8566">
{% else %}
<meta name="theme-color" content="#4285f4">
{% endif %}

<link rel="manifest" href="{{site.baseurl}}/manifest.json">

<link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/styles.min.css" />
