<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="{{ page.theme_color }}">

<link rel="manifest" href="{{site.WFBaseUrl}}/manifest.json">
<link rel="canonical" href="{{page.url}}">
<link rel="icon" href="{{site.WFBaseUrl}}/favicon.ico" />

<link rel="stylesheet" media="screen" href="{{page.html_css_file}}" />

<meta name="google-site-verification" content="zFM_etMkM6oOvH6CNip7QxEbslAw6kJ2kiGJBYYBIcA" />

<!-- Title -->
<title>{{ page.html_head_title }}</title>
<meta itemprop="name" content="{{ page.html_head_title }}">
<meta property="og:title" content="{{ page.html_head_title }}" />

<!-- Description -->
<meta name="description" content="{{ page.html_head_description }}" />
<meta itemprop="description" content="{{ page.html_head_description }}">

<!-- Translated Page -->
{% for translated_page in page.translations %}
<link rel="alternate" hreflang="{{translated_page.langcode}}" href="{{site.WFBaseUrl}}{{page.url}}?hl={{translated_page.langcode}}" />
{% endfor %}

<link rel="publisher" href="https://plus.google.com/+GoogleChromeDevelopers">
<link itemprop="image" href="{{ page.html_head_social_img }}">

<meta property="og:site_name" content="{{ page.html_head_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.WFBaseUrl}}{{page.url}}" />
<meta property="og:publisher" content="https://www.facebook.com/googlechrome" />
<meta property="og:image" content="{{ page.html_head_social_img }}" />
{% if main_author.facebook %}
<meta property="og:author" content="{{ main_author.facebook }}" />
{% endif %}

<meta name="twitter:creator" content="{{ main_author.twitter }}" />
<meta name="twitter:account_id" content="@chromiumdev" />
<meta name="twitter:site" content="@chromiumdev" />
<meta name="twitter:description" content="{{ page.strippedDescription }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ page.html_head_social_img }}" />

<link rel="alternate" type="application/rss+xml" title="{{page.feed_name}}" href="{{page.feed_url}}">
