<header class="wf-header">

  <!-- Top Row contains buttons and links -->
  <div class="wf-header__top-row">
    <button class="wf-header__menu-btn">
      {% include svgs/menu.svg %}
    </button>

    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>

    <a class="wf-header__dev-logo" href="https://developers.google.com/">
      <!-- Inlined SVG for GDS Logo -->
      {% include svgs/gds-logo-grey.svg %}
    </a>
  </div>

  <!-- Bottom Row contains buttons and links -->
  <div class="wf-header__bottom-row">
    <h1 class="wf-header__title">{{ include.title }}</h1>
  </div>

</header>

<div class="wf-nav-drawer mdl-layout__drawer">
  <header class="wf-header-nav">
    <div class="wf-header-nav__top-row">
    </div>
    <div class="wf-header-nav__bottom-row">
      <h1 class="wf-header-nav__title">{{ page.drawerTitleText }}</h1>
    </div>
  </header>

  <nav class="wf-nav-drawer__navigation">
    {% include page-structure/navigation.liquid %}
  </nav>

  <div class="mdl-layout-spacer"></div>

  <div class="wf-navdrawer__github-links">
    {% if page.path %}
    <a href="{{site.github.root}}/tree/{{site.WFGithubBranch}}/{{page.path| uri_escape }}" target="_blank">{{"view_source" | localize_string}}</a>
    {% else %}
    <a href="{{site.github.root}}/tree/{{site.WFGithubBranch}}/" target="_blank">{{"view_source" | localize_string}}</a>
    {% endif %}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{{site.github.root}}/issues/new?title={{"[" | uri_escape }}{{page.langcode | upcase}}{{"] Feedback for: " | uri_escape }}{{page.url| uri_escape }}" target="_blank">{{"submit_feedback" | localize_string}}</a>
  </div>
</div>

<main>
