<!-- Uses a header that contracts as the page scrolls down. -->
<style>
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}
</style>

<div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__drawer-button">
      {% include svgs/menu.svg %}
    </div>
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ include.title }}</span>

      <div class="mdl-layout-spacer"></div>

      <a class="wf-header__dev-logo" href="https://developers.google.com/">
        {% include svgs/gds-logo-grey.svg %}
      </a>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ page.drawerTitleText }}</span>
    <nav class="mdl-navigation">
      {% include page-structure/navigation.liquid %}
    </nav>

    <div class="mdl-layout-spacer"></div>

    <div class="wf-navdrawer__github-links">
      {% if page.path %}
      <a href="{{site.github.root}}/tree/{{site.WFGithubBranch}}/{{page.path| uri_escape }}" target="_blank">{{"view_source" | localize_string}}</a>
      {% else %}
      <a href="{{site.github.root}}/tree/{{site.WFGithubBranch}}/" target="_blank">{{"view_source" | localize_string}}</a>
      {% endif %}
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{{site.github.root}}/issues/new?title={{"[" | uri_escape }}{{page.langcode | upcase}}{{"] Feedback for: " | uri_escape }}{{page.url| uri_escape }}" target="_blank">{{"submit_feedback" | localize_string}}</a>
    </div>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
