    <footer class="mdl-mini-footer mdl-grid">
      <div class="mdl-mini-footer--left-section mdl-cell mdl-cell--6-col wf-footer-section">
        <ul class="wf-footer__list wf-footer__list--primary">
        {% for section in page.content.toc %}

          {% assign checkTitle = section.title | downcase | trim | replace:' ','-' %}
          {% assign stripTitle = section.title | strip_html %}

          {% if site.spotlights == true or checkTitle != 'spotlights' %}
          <li class="sitemap__item sitemap__item--{{ section.title | downcase | replace:' ','-' }} {% if section.home %} sitemap__item--home {% endif %}{% unless section.home %}{% if page.url contains section.path %} sitemap__item--current{% endif %}{% endunless %}{% if section.home and page.url == '/index.html' %} sitemap__item--current{% endif %} {% if section.hasSubNav %} sitemap__item--has-child{% endif %}">
            <a class="sitemap-list__link sitemap-list__link--parent" href="{% if section.external != true %}{{site.WFBaseUrl}}{% endif %}{{ section.path }}?hl={{page.langcode}}" title="Go to {{ stripTitle }}">
              {{ section.title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      <div class="mdl-mini-footer--right-section mdl-cell mdl-cell--6-col wf-footer-section">
        <h3 class="wf-footer__title"><a href="https://developers.google.com/" class="wf-footer__title--link">
          <img id="developers-logo-footer" src="{{site.WFBaseUrl}}/imgs/developers-logo_short.svg" alt="Google Developers logo">
        </a></h3>
        <ul class="wf-footer__list wf-footer__list--secondary">
          <li><a href="http://www.google.com/">Google</a></li>
          <li><a href="http://developers.google.com/site-terms">{{"terms_of_service" | localize_string}}</a></li>
          <li><a href="http://www.google.com/intl/en/privacy/">{{"privacy_policy" | localize_string}}</a></li>
          <li><a href="http://developers.google.com/careers">{{"careers" | localize_string}}</a></li>
        </ul>
      </div>
    </footer>

  <!-- Close MDL content -->
  </main>

  <div class="mdl-layout__obfuscator"></div>
</div>

<script src="{{site.WFBaseUrl}}/scripts/third_party/mdl/mdlComponentHandler.js"></script>
<script src="{{site.WFBaseUrl}}/scripts/third_party/mdl/layout/layout.js"></script>
<script src="http://marc-staging.storage.googleapis.com/textfield/material.min.js"></script>
