<!-- Title of the show -->
<div class="showtitle--title-container {% if include.classname %}showtitle--title-container-{{include.classname}} {% endif %}showtitle--title-container-{{ include.showid }} g-wide--full">
  <h1 class="showtitle--title showtitle--title-{{ include.showid }} container">
    {{ include.title }}
  </h1>
  {% if include.subtitle %}
  <h2 class="showtitle--subtitle showtitle--subtitle-{{ include.showid }} container">
  	{{ include.subtitle }}
  </h2>
  {% endif %}
</div>
<div class="clear"></div>
