{% assign MAX_NUM_OF_VIDEOS = 50 %}
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">

	<title>{{include.title}}</title>
	<description>{{include.description}}</description>

	<link type="text/html" href="{{ include.link }}{{ include.utm }}" rel="alternate"/>
	<icon>https://developers.google.com/web/favicon.ico</icon>
	<id>{{include.id}}</id>

	{% assign num = 0 %}
	{% for video in include.videos %}
		{% if num > MAX_NUM_OF_VIDEOS %}
			{% break %}
		{% endif %}

		{% assign seriesPage = video.parent %}
		{% capture title %}{% if include.showSeriesInTitle%}{{ seriesPage.title }} – {% endif %}{{ video.title }}{% endcapture %}
		{% capture videocontent %}
		{% include modules/video.liquid id=video.showYoutubeID width=560 height=315 %}
		{{ video.content | markdownify }}
		{% endcapture %}
		{% capture screenshotTitle %}
		YouTube screenshot of {{ seriesPage.title }} Video titled {{ video.title }}
		{% endcapture %}
	<entry>
		<published>{{ video.article.written_on | date: "%Y-%m-%dT%H:%M:%SZ" }}</published>
		<updated>{{ video.article.updated_on | date: "%Y-%m-%dT%H:%M:%SZ" }}</updated>

		<id>https://developers.google.com{{ site.baseurl }}{{ video.url }}</id>
		<title>{{title | xml_escape}}</title>
		<link rel="alternate" type="text/html" href="https://developers.google.com{{ site.baseurl }}{{ video.url }}{{ include.utm }}" />

		{% if video.authors %}
		<author>
			<name>{% for author in video.authors %}{% assign contributor = site.data["contributors"][author] %}{{contributor.name.given}} {{contributor.name.family}}{% if forloop.last == false %}, {% endif %}{% endfor %}</name>
		</author>
		{% endif %}
    {% if video.showYoutubeID %}
    <enclosure url="https://img.youtube.com/vi/{{ video.showYoutubeID }}/0.jpg" type="image/jpg"/>
    <image>
  		<link>https://developers.google.com{{ site.baseurl }}{{ video.url }}</link>
  		<title>{{ screenshotTitle | xml_escape }}</title>
  		<url>https://img.youtube.com/vi/{{ video.showYoutubeID }}/0.jpg</url>
		</image>
    {% endif %}

		<content type="html">{{ videocontent | xml_escape }}</content>
	</entry>
	{% assign num = num | plus: 1 %}
	{% endfor %}
</feed>
