    {% include head.liquid %}
  </head>

  <body class="page--grouped-list page--{{page.id}} theme--{{page.id}}">
    {% injectdata content _betterbook-wf.yaml %}

    {% include header.liquid %}

    <div class="guides-section">
      <header class="container">
          <h2 class="xxlarge">{{ page.title }}</h2>
          <div class="divider divider--secondary">
            <span class="themed divider-icon"></span>
          </div>
          <p class="editorial-header__excerpt" itemprop="headline">
            {{ page.introduction }}
          </p>
      </header>

       <ul class="guides-list container">

        {% for group in page.list %}
        <li class="guides-list__item g--half theme--{{  }} {% cycle '', 'g--last' %}">
          <div class="primary-content">
            <h3 class="xlarge">
              {{group.title}}
            </h3>
            <p>{{group.description}}</p>
          </div>
          <div class="secondary-content">
            <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
            <ol class="list-links list-links--secondary" {% if group.start %}style="counter-reset: list {{group.start}}"{% endif %}>
            {% for item in group.list %}
              <li>
                {% if item.link %}
                  <a href="{{item.link}}" title="{{"read_the_lesson" | localize_string}} {{item.title}}">
                    {{item.title}}
                  </a>
                {% else %}
                  {{item.title}}
                {% endif %}
              </li>
            {% endfor %}
            </ol>
          </div>
        </li>
        {% endfor %}

      </ul>
    </div>

    {% include footer.liquid %}
