<!-- Lets plan out the order of videos -->
{% assign series = page.articles[page.id] | sort: 'date' | reverse  %}
{% assign latestSeries = series | first %}
{% assign latestShows = page.articles[latestSeries.id] | sort: 'date' | reverse %}
{% assign latestShow = latestShows | first %}


    {% include head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }}" itemscope itemtype="http://schema.org/WebSite">

  	<!-- Select Appropriate betterbook -->
    {% injectdata content _betterbook-shows.yaml %}

    {% include header.liquid %}

    {% wrap content %}

	    <h1>{{ page.title }}</h1>

	    <!-- Display content from the markdown -->
	    {{ content }}

	    <!-- Latest Episode -->
	    <h2>Latest Episode: {{ latestShow.title }}</h2>

	    {% include modules/video.liquid id=latestShow.youtubeVideoID %}

	    <!-- Display the latest episodes for a show series -->
	    <h2>Previous Episodes</h2>

	    <ol>
	      {% for show in latestShows %}
	      	{% if show != latestShow %}
	      	<a href="{{site.baseurl}}{{show.url | canonicalize}}">
	      		<div class="lastestEpisode">
		      		<div class="lastestEpisode--image">
		      			<img src="http://img.youtube.com/vi/{{ show.youtubeVideoID }}/0.jpg" />
		      		</div>
		      		<div class="lastestEpisode--title">
		      			{{ show.title }}
		      		</div>
		      	</div>
	      	</a>
	      	{% endif %}
		    {% endfor %}
	    </ol>

    {% endwrap %}

    {% include footer.liquid %}
