    {% include head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--article article--{{page.collection}} theme--{{page.collection}}" itemscope itemtype="http://schema.org/Article">
    {% injectdata content _betterbook-tools.yaml %}

    {% include header.liquid %}

    <div class="article-container tools-content">
      <div class="editorial-header">
        <div class="container">
          <div class="content">

            {% include modules/breadcrumbs.liquid %}

            <h1 class="tag editorial-header__title">{{ page.parent.title }}</h1>
            <h2 class="editorial-header__subtitle">{{page.title}}</h2>

            <p class="editorial-header__excerpt">{{page.introduction}}</p>

          </div>
        </div>
      </div>

      {{ content }}

      {% include modules/lessons.liquid %}

      {% include modules/lessons_toc.liquid %}


    </div> <!-- /.article-container -->

    {% include cc.liquid %}
    {% include footer.liquid %}
