    {% include head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }}" itemscope itemtype="http://schema.org/WebSite">
    {% injectdata content _betterbook-root.yaml %}

    {% include header.liquid %}


	<header class="tools-header updates-header updates-header-{{page.type}}">
	  <div class="container">
	    <h1 class="headliner"><span>{{page.type}}</span>{{page.title}}</h1>
	    <div class="details">
          <div class="date">{{ page.article.written_on | date: '%B %d, %Y' }}</div>
          {% if page.authors %}
          <div class="author">
          {% for author in page.authors %}
          {% assign contributor = site.data["contributors"][author] %}
              <a href="{{contributor.homepage}}" target="_blank" title="{{contributor.name.given}} {{contributor.name.family}}">
                {{contributor.name.given}} {{contributor.name.family}}
              </a>
          {% endfor %}
          </div>
          {% endif %}
          {% if page.tags %}
          <div class="tags">
            {% for tag in page.tags %}
            <span>#{{tag}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
	    <div class="desc">{{page.description}}</div>
	  </div>
	</header>

	<div class="update-container container">
	  	{{ content | markdownify }}
	</div>

    

    {% include footer.liquid %}