    {% include head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }}" itemscope itemtype="http://schema.org/WebSite">
    {% injectdata content _betterbook-root.yaml %}

    {% include header.liquid %}


	<header class="tools-header updates-header updates-header-{{page.type}}">
	  <div class="container">
	    <h1 class="headliner"><span>{{page.type}}</span>{{page.title}}</h1>
	    <div class="details">
          <div class="date">{{ page.article.written_on | date: '%B %d, %Y' }}</div>
          {% if page.authors %}
          <div class="author">
          {% for author in page.authors %}
          {% assign contributor = site.data["contributors"][author] %}
              <a href="{{contributor.homepage}}" target="_blank" title="{{contributor.name.given}} {{contributor.name.family}}">
                {{contributor.name.given}} {{contributor.name.family}}
              </a>
          {% endfor %}
          </div>
          {% endif %}
          {% if page.tags %}
          <div class="tags">
            {% for tag in page.tags %}
            <span>#{{tag}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
	    <div class="desc">{{page.description}}</div>
	  </div>
	</header>

	<div class="update-container container">

      <div class="filters">
        <ul>
          <li>Category
            <ul>
              <li><a href="/web/updates/{% if page.product %}{{page.product}}/{% endif %}"{% if page.type == null %} class="selected"{% endif %}>All</a></li>
              <li><a href="/web/updates/{% if page.product %}{{page.product}}/{% endif %}news/"{% if page.type == "news" %} class="selected"{% endif %}>News</a></li>
              <li><a href="/web/updates/{% if page.product %}{{page.product}}/{% endif %}tips/"{% if page.type == "tip" %} class="selected"{% endif %}>Tips &amp; Tricks</a></li>
            </ul>
          </li>
          <li>Product
            <ul>
              <li><a href="/web/updates/{% if page.type %}{{page.type}}/{% endif %}"{% if page.product == null %} class="selected"{% endif %}>All</a></li>
              <li><a href="/web/updates/tools/{% if page.type %}{{page.type}}/{% endif %}"{% if page.product == "tools" %} class="selected"{% endif %}>All Tools</a></li>
              <li><a href="/web/updates/chrome/{% if page.type %}{{page.type}}/{% endif %}"{% if page.product == "chrome" %} class="selected"{% endif %}>Chrome</a></li>
              <li><a href="/web/updates/chrome-devtools/{% if page.type %}{{page.type}}/{% endif %}"{% if page.product == "chrome-devtools" %} class="selected"{% endif %}>DevTools</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div>
        {{ content | markdownify }}
      </div>
	  	
	</div>

  <div class="update-comments">
    <div id="gplus-comment-container" class="container">
      <h2>Comments (<span id="gplus-comment-counter"></span>)</h2>
      <div id="gplus-comments" data-url="https://developers.google.com{{page.url}}"></div>
    </div>   
  </div>

    

    {% include footer.liquid %}