<nav class="breadcrumbs">
  <p> <a href="{{site.baseurl}}/">Web Fundamentals</a>
  {% for p in page.ancestors %}
    <a href="{{site.baseurl}}{{ p.url | clean}}" title="{{ p.title }}">{{ p.title }}</a>
    /
  {% endfor %}
  </p>
</nav>
