  </div>
</div>
<div class="highlight-module {% if include.position %} highlight-module--{{ include.position }} {% endif %} {% if include.type %} highlight-module--{{ include.type }} {% endif %} {% if include.inline %} highlight-module--inline {% endif %}">
  <div class="highlight-module__container {% if include.type == 'learning' %} icon-star {% else %} icon-exclamation {% endif %}">
    <div class="highlight-module__content  {% if include.inline == false %} g-wide--push-1 g-wide--pull-1 {% if include.position == 'left' %} g-medium--push-1 {% else %} g-medium--pull-1 {% endif %} {% else %} g-wide--pull-1 highlight-module__inline{% endif %} ">
      <p class="highlight-module__title"> {{ include.title }}</p>

      {% if include.text %}
        <p class="highlight-module__text"> {{ include.text }} </p>
      {% endif %}

      {% if include.list %}
        <ul class="highlight-module__list">
        {% for item in include.list %}
          <li>{{ item }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
  <div class="content" markdown="1">