{% include page-structure/open-page.liquid %}

<!-- Latest Episode -->
{% if page.context.subdirectories.size > 0 %}
<p>{{page.context.subdirectories}}</p>

<p>{{page.context.subdirectories[0]}}</p>

<div class="showhome--subheading">
  <p class="showhome--subheading-description">Latest Episode</p>
  <h2 class="showhome--subheading-title">{{ page.context.subdirectories[0].pages[0].title }}</h2>
</div>

{% ytvideo page.context.subdirectories[0].pages[0].youtubeID %}
{% endif %}

<p>{{ page.description }}</p>

{{ content }}

{% for subdirectory in page.context.subdirectories %}
  <div class="showhome--series showhome--series-{{ page.id }}{% if count == 0 %} showhome--series-first{% endif %}">
    <h3 class="showhome--series-title showhome--series-title-{{ page.id }} g-wide--full">
      <a href="{{subdirectory.index.relative_url}}">{{subdirectory.index.title}}</a>
    </h3>

    <!-- List of Videos -->
    <ol class="showhome--series-flatrowlist flatrowlist">
      {% for showPage in subdirectory.pages %}
      <li>
        {% include shows/video-thumbnail.liquid videoPage=showPage %}
      </li>
      {% endfor %}
    </ol>
  </div>
{% endfor %}

<p class="container feedlink-container">
  <a href="{{ feedURL }}">
    <img src="{{site.WFBaseUrl}}/imgs/shows/rss-icon.svg" alt="RSS Feed Icon" class="feedlink-icon" />
  </a>
  {% if include.emailSubscriptionLink %}
  <a class="feedlink-emailsubcribe" href="{{ include.emailSubscriptionLink }}">
    Subscribe by Email
  </a>
  {% endif %}
</p>

{% include page-structure/close-page.liquid %}
