{% if page.articles[page.id] %}
  {% assign series = page.articles[page.id] | sort: 'date' | reverse %}
  {% assign latestSeries = series | first %}
  {% if page.articles[latestSeries.id] %}
    {% assign latestShows = page.articles[latestSeries.id] | sort: 'date' | reverse %}
    {% assign latestShow = latestShows | first %}
  {% endif %}
{% endif %}

{% capture feedURL %}{{site.baseurl}}/shows/{{page.id}}/feed.xml{% endcapture %}





{% include page-structure/open-page.liquid %}

<!-- Latest Episode -->
{% if latestShow %}
<div class="showhome--subheading">
  <p class="showhome--subheading-description">Latest Episode</p>
  <h2 class="showhome--subheading-title">{{ latestShow.title }}</h2>
</div>
{% include modules/video.liquid id=latestShow.showYoutubeID %}
{% endif %}

<h3>{{ page.intro-title }}</h3>

<p>{{ page.description }}</p>

{{ content }}

{% for subdirectory in page.pages.subdirectories %}
  <div class="showhome--series showhome--series-{{ page.id }}{% if count == 0 %} showhome--series-first{% endif %}">
    <h3 class="showhome--series-title showhome--series-title-{{ page.id }} g-wide--full">
      <a href="{{subdirectory[1].index.relative_url}}">{{subdirectory[1].index.title}}</a>
    </h3>

    <!-- List of Videos -->
    <ol class="showhome--series-flatrowlist flatrowlist">
      {% for showPage in subdirectory[1].pages %}
      <li>
        {% include shows/video-thumbnail.liquid videoPage=showPage %}
      </li>
      {% endfor %}
    </ol>
  </div>



  {% if page.articles[singleSeries.id] %}
    {% assign seriesShows = page.articles[singleSeries.id] | sort: 'date' %}
    {%if seriesShows.size > 0 %}

    {% endif %}
  {% endif %}
{% endfor %}

<p class="container feedlink-container">
  <a href="{{ feedURL }}">
    <img src="{{site.WFBaseUrl}}/imgs/shows/rss-icon.svg" alt="RSS Feed Icon" class="feedlink-icon" />
  </a>
  {% if include.emailSubscriptionLink %}
  <a class="feedlink-emailsubcribe" href="{{ include.emailSubscriptionLink }}">
    Subscribe by Email
  </a>
  {% endif %}
</p>

{% include page-structure/close-page.liquid %}
