{% include page-structure/open-page.liquid %}

<div class="page-content">

  <p>{{ page.description }}</p>

  <!-- Latest Episode -->
  {% if page.context.subdirectories.size > 0 %}
    {% assign latestSeason = page.context.subdirectories.last %}
    {% assign latestEpisode = latestSeason.pages.last %}
    <h3>Lastest episode: {{ latestEpisode.title }}</h3>

    {% ytvideo latestEpisode.youtubeID %}
  {% endif %}

  {{ content }}

</div>

{% for subdirectory in page.context.subdirectories reversed %}
  {% comment %}
  The sizes of grid:

  Desktop: 12
  Tablet: 8
  Phone: 4
  {% endcomment %}
  <div class="mdl-grid">
    <h4 class="mdl-cell mdl-cell--12-col show-series-list__title showhome--series-title-{{ page.id }} g-wide--full">
      {{subdirectory.index.title}}
    </h4>
    {% for showPage in subdirectory.pages reversed %}
      {% capture imgUrl %}https://img.youtube.com/vi/{{showPage.youtubeID}}/mqdefault.jpg {% endcapture %}
      {% include shows/card.liquid title=showPage.title text=showPage.description linkHref=showPage.relative_url linkText="Watch Now" imgUrl=imgUrl %}
    {% endfor %}
  </div>
{% endfor %}

{% include page-structure/close-page.liquid %}
