{% if include.author %}
<div class="wf-author__post-details">
  <img class="wf-author__profile-photo" src="{{include.author.imgUrl}}" alt="Profile photo of {{include.author.name.given}} {{include.author.name.family}}" />

  <div class="wf-author__author-date-container">
    <div class="wf-author__author">
      {% if include.linkauthor %}<a href="{{contributor.homepage}}" target="_blank" title="{{contributor.name.given}} {{contributor.name.family}}">{% endif %}
      {{include.author.name.given}} {{include.author.name.family}}
      {% if include.linkauthor %}</a>{% endif %}
    </div>
    <time class="mdl-typography--caption wf-author__date" datetime="{{ include.written_on | date: '%F' }}">{{ include.written_on | date: '%B %d, %y' }}</time>
  </div>
</div>
{% endif %}
