<a class="update-list-item__link-wrapper" href="{{site.WFBaseUrl}}{{article.url | canonicalize}}">

    <h1 class="update-list-item__title mdl-typography--headline">{{article.title}}</h1>

    <div class="update-list-item__description">
      {{article.description}}
    </div>

    {% if article.main_author %}
    <footer class="update-list-item__post-details">
      <img class="update-list-item__profile-photo" src="{{article.main_author.imgUrl}}" alt="Profile photo of {{article.main_author.name.given}} {{article.main_author.name.family}}" />

      <div class="update-list-item__author-date-container">
        <div class="update-list-item__author">{{article.main_author.name.given}} {{article.main_author.name.family}}</div>
        <div class="mdl-typography--caption update-list-item__date">{{ article.article.written_on | date: '%B %d, %Y' }}</div>
      </div>
    </footer>
    {% endif %}
</a>
