{% include page-structure/open-page.liquid %}

{% include page-structure/site-promo-small.liquid %}

<div class="page-content">

{% include page-structure/out-of-date.liquid %}

{{ content }}

{% for subdirectory in page.context.subdirectories %}
{% if subdirectory.index.published != false %}
<div class="wf-subdirectory-list mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <h4 class="wf-subdirectory-list__title">{{subdirectory.index.title}}</h4>
    <p>{{subdirectory.index.description}}</p>
  </div>

  <ol class="wf-subdirectory-list__pages-list mdl-cell mdl-cell--6-col">
  {% if subdirectory.pages.size == 0 and subdirectory.subdirectories.size > 0 %}
    {% for subdir in subdirectory.subdirectories %}
    <li class="wf-subdirectory-list__pages-list-item"><a href="{{subdir.index.relative_url}}">{{subdir.index.title}}</a></li>
    {% endfor %}
  {% else %}
    <li class="wf-subdirectory-list__pages-list-item">
      <a href="{{subdirectory.index.relative_url}}">{{subdirectory.index.title}}</a>
    </li>
    {% for page in subdirectory.pages %}
    <li class="wf-subdirectory-list__pages-list-item"><a href="{{page.relative_url}}">{{page.title}}</a></li>
    {% endfor %}
  {% endif %}
  </ol>
</div>
{% endif %}
{% endfor %}

<!-- Close MDL content -->
</div>

{% include page-structure/license.liquid %}

{% include page-structure/close-page.liquid %}
