{% if page.authors %}

<div class="author-in-header">
	<h3 class="large">by<span>&nbsp;</span></h3>
	<ul>
		{% for author in page.authors %}
		{% assign contributor = site.data["contributors"][author] %}
	      <li>
	        <a href="{{site.url}}/fundamentals/resources/contributors/index.html#{{author}}" target="_blank" title="{{contributor.name.given}} {{contributor.name.family}}">
	          <span class="icon-circle--large" style="background-image: url({{site.url}}/imgs/contributors/{{author}}.jpg); background-size: contain;"></span>
	          <h3 class="large">{{contributor.name.given}} {{contributor.name.family}}<span>Published: {{ page.article.written_on | date: '%B %d, %Y' }}</span></h3>
	        </a>
	      </li>
	    {% endfor %}
	</ul>
</div>

{% endif %}
