<ul class="short-updates">
  {% assign count = '' %}
  {% assign updates = page.articles.updates | sort: 'date' | reverse  %}
  {% for article in updates limit: 20 %}
  {% if count.size < include.limit %}
  {% if include.type == null or include.type == "all" or article.type == include.type  %}
  {% if include.product == null or include.product == "all" or article.product == include.product or article.category == include.product %}

    <li class="{{article.type}}">

      {% if include.headingontop == "true" %}
      <a href="{{site.baseurl}}{{article.url | canonicalize}}">
      <h4><span>{{article.type}}</span>{{article.title}}</h4>
      </a>
      {% endif %}

      {% if article.featured-image %}
      <div class="featured-img" style="background-image: url({{article.featured-image}});"></div>
      {% endif %}

      {% if include.headingontop != "true" %}
      <a href="{{site.baseurl}}{{article.url | canonicalize}}">
      <h4><span>{{article.type}}</span>{{article.title}}</h4>
      </a>
      {% endif %}

      {% if include.details != "false" %}
      <div class="details">
        <div class="date">{{ article.article.written_on | date: '%B %d, %Y' }}</div>
        {% if article.authors %}
        <div class="author">
        {% for author in article.authors %}
        {% assign contributor = site.data["contributors"][author] %}
            <a href="{{contributor.homepage}}" target="_blank" title="{{contributor.name.given}} {{contributor.name.family}}">
              {{contributor.name.given}} {{contributor.name.family}}
            </a>
        {% endfor %}
        </div>
        {% endif %}
        {% if article.tags %}
        <div class="tags">
          {% for tag in article.tags %}
          <span>#{{tag}}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      {% if article.description %}
      <div class="description">{{article.description}}</div>
      {% endif %}
      {% endif %}
      
    </li>
    {% capture count %}{{ count }}*{% endcapture %}

  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
</ul>