<!-- Lets plan out the order of videos -->
<!-- {{ page.articles[page.id] }} -->
{% if page.articles[page.id] %}
  <!-- PETE WAS HERE -->
	{% assign shows = page.articles[page.id] | sort: 'date' | reverse  %}
{% endif %}

    {% include head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }}" itemscope itemtype="http://schema.org/WebSite">

  	<!-- Select Appropriate betterbook -->
    {% injectdata content _betterbook-shows.yaml %}

    {% include header.liquid %}

    {% wrap content %}

	    <h1>{{ page.title }}</h1>

	    <!-- Display content from the markdown -->
	    {{ content }}

      {% if page.id == 'udacity-courses' %}
  	    <h2>Courses</h2>
      {% else %}
        <h2>Episodes</h2>
      {% endif %}

	    <ol class="blanklist">
	      {% for show in shows %}
	      <li>
      		<div class="widevideo">
	      		<div class="widevideo--imagecontainer">
	      			<a href="{{site.baseurl}}{{show.url | canonicalize}}">
                {% if show.youtubeVideoID %}
  	      				<img class="widevideo--image" src="https://img.youtube.com/vi/{{ show.youtubeVideoID }}/0.jpg" />
                {% endif %}
                {% if show.udacityID %}
                  <img class="widevideo--image" src="https://img.youtube.com/vi/{{ show.youtubeTrailerID }}/0.jpg" />
                {% endif %}
	      			</a>
	      		</div>
	      		<div class="widevideo--details">
		      		<div class="widevideo--title">
		      			<a href="{{site.baseurl}}{{show.url | canonicalize}}">{{ show.title }}</a>
		      		</div>
		      		<div class="widevideo--description">
		      			{{ show.description }}
		      		</div>
	      		</div>
	      	</div>
	      </li>
		    {% endfor %}
	    </ol>

    {% endwrap %}

    {% include footer.liquid %}
