{% assign className = 'wf-lessons-toc__list-item--completed' %}

{% if page.context.index == page %}
  {% assign className = 'wf-lessons-toc__list-item--todo' %}
{% endif %}
<div class="wf-lessons-toc">
  <h3 class="wf-lessons-toc__title">{{"next_sections" | localize_string}}</h3>
  <ol class="wf-lessons-toc__list">
    {% for pageInSection in page.context.pages %}
      {% if pageInSection.url == page.url %}
        <li class="wf-lessons-toc__list-item wf-lessons-toc__list-item--current">
          <span class="wf-lessons-toc__icon">{% include svgs/done.svg %}</span>{{pageInSection.title}}
        </li>
        {% assign className = 'wf-lessons-toc__list-item--todo' %}
      {% else %}
        <li class="wf-lessons-toc__list-item {{className}}">
          <a href="{{site.WFBaseUrl}}{{pageInSection.url}}">
            <span class="wf-lessons-toc__icon">{% include svgs/done.svg %}</span>{{pageInSection.title}}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
