{% include page-structure/open-page.liquid %}

{% include page-structure/site-promo-small.liquid %}

<div class="page-content top-padding">

  <!-- Latest Episode -->
  {% if page.context.subdirectories.size > 0 %}
    {% assign latestSeason = page.context.subdirectories.last %}
    {% assign latestEpisode = latestSeason.pages.last %}
    <h6 class="wf-shows__subtitle">Latest Episode</h6>
    <h3 class="wf-shows__title">{{ latestEpisode.title }}</h3>

    {% ytvideo latestEpisode.youtubeID %}
  {% endif %}

  <p>{{ page.description }}</p>


  {{ content }}

  {% include shows/subscribe.liquid %}

  <div class="mdl-grid wf-grid__no-padding">
    <h6 class="mdl-cell mdl-cell--12-col wf-shows__subtitle">
      Previous Seasons &amp; Episodes
    </h6>
    {% for subdirectory in page.context.subdirectories reversed %}
      {% comment %}
        TODO(gauntface): find better solution for podcasts in shows.
        See: https://github.com/google/WebFundamentals/issues/2182
      {% endcomment %}
      {% if subdirectory.index.layout == 'shows/podcast' %}
        {% continue %}
      {% endif %}

      <h4 class="mdl-cell mdl-cell--12-col wf-shows__title">
        {{subdirectory.index.title}}
      </h4>
      {% for showPage in subdirectory.pages reversed %}
        {% capture imgUrl %}{% if showPage.youtubeThumbnail %}{{showPage.youtubeThumbnail}}{% else %}https://img.youtube.com/vi/{{showPage.youtubeID}}/mqdefault.jpg{%endif%}{% endcapture %}
        {% include shows/card.liquid title=showPage.title text=showPage.description linkHref=showPage.relative_url linkText="Watch Now" imgUrl=imgUrl %}
      {% endfor %}
    {% endfor %}
  </div>

</div>

{% include page-structure/license.liquid %}

{% include page-structure/close-page.liquid %}
