{% if include.author and include.author.name %}
<div class="wf-author__container">
  <div class="wf-author__row">
    <div class="wf-author__img-container">
    {% if include.author.imgUrl %}
      <img class="wf-author__profile-photo" src="{{include.author.imgUrl}}" alt="Profile photo of {{include.author.name.given}} {{include.author.name.family}}" />
    {% else %}
      {% include svgs/person.svg %}
    {% endif %}
    </div>

    <div class="wf-author__name">
      {% if include.linkauthor and include.author.homepage %}<a href="{{include.author.homepage}}" target="_blank" title="{{contributor.name.given}} {{contributor.name.family}}">{% endif %}
      {{include.author.name.given}} {{include.author.name.family}}
      {% if include.linkauthor %}</a>{% endif %}
    </div>
  </div>

  {% if include.written_on %}
  <div class="wf-author__row">
    <div class="wf-author__time-icon">
      {% include svgs/time.svg %}
    </div>
    <time class="wf-author__date" datetime="{{ include.written_on | date: '%F' }}">{{ include.written_on | date: '%B %-d, %Y' }}</time>
  </div>
  {% endif %}
</div>
{% endif %}
