{% comment %}
Base template used by remember.liquid and takeaway.liquid
TODO: Apply and clean up styles
TODO: Verify all strings are localized
{% endcomment %}

<div class="wf-highlight-list{% if include.type %} wf-highlight-list--{{ include.type }}{% endif %}" markdown="1">
  <h3 class="wf-highlight-list__title">{{ include.title }}</h3>

  {% if include.list %}
  <ul class="wf-highlight-list__list">
    {% for item in include.list %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% comment %}
<div class="wf-highlight{% if include.position %} wf-highlight--{{ include.position }}{% endif %}{% if include.type %} wf-highlight--{{ include.type }}{% endif %}">
  <div class="wf-highlight__container">
    <div class="wf-highlight__content">
      <p class="wf-highlight__title"> {{ include.title }}</p>

      {% if include.text %}
        <p class="wf-highlight__text"> {{ include.text }} </p>
      {% endif %}

      {% if include.list %}
        <ul class="wf-highlight__list">
        {% for item in include.list %}
          <li class="wf-highlight__list-item">{{ item }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endcomment %}
