<div class="wf-article-nav">
  <nav class="wf-article-nav__container">
    <div>
      {% if page.previousPage %}
      <a
        class="wf-article-nav__link wf-article-nav__link--prev"
        title="{{"previous_article" | localize_string}}"
        href="{{site.WFBaseUrl}}/{{ page.previousPage.href }}">
        <i class="material-icons arrow-L">arrow_back</i>
        <span class="direction">{{"previous" | localize_string}}</span>
        <div>{{ page.previousPage.title }}</div>

      </a>
      {% endif %}
    </div><div>
      {% if page.nextPage %}
      <a
        class="wf-article-nav__link wf-article-nav__link--next"
        title="{{"next_article" | localize_string}}"
        href="{{site.WFBaseUrl}}/{{ page.nextPage.href }}">
        <i class="material-icons arrow-R">arrow_forward</i>
        <span class="direction">{{"next" | localize_string}}</span>
        <div>{{ page.nextPage.title }}</div>
      </a>
      {% endif %}
    </div>
  </nav>
</div>
