<div class="wf-article-nav">
  <nav class="wf-article-nav__container">
  {% if page.article.previous %}
  <a
    class="wf-article-nav__link wf-article-nav__link--prev"
    title="{{"previous_article" | localize_string}}"
    href="{{site.WFBaseUrl}}{{ page.article.previous.url }}">
    {{"previous" | localize_string}} '{{ page.article.previous.title }}'
  </a>
  {% endif %}

  {% if page.article.next %}
  <a
    class="wf-article-nav__link wf-article-nav__link--next"
    title="{{"next_article" | localize_string}}"
    href="{{site.WFBaseUrl}}{{ page.article.next.url }}">
    {{"next" | localize_string}} '{{ page.article.next.title }}'
  </a>
  {% endif %}
  </nav>
</div>
