{% if include.list %}

<div class="wf-related-guides{% if include.minimal %} wf-related-guides--minimal{% endif %} clear">
  <div class="wf-related-guides__content clear">
    <h3 class="wf-related-guides__title">{{"related_guides" | localize_string}}</h3>
    <ul class="wf-related-guides__list">
    {% for listItem in include.list %}
      <li class="wf-related-guides__list-item">
        {% if listItem.section %}
          <p class="wf-related-guides__section-title">
            <a
              class="tag themed"
              href="{{site.WFBaseUrl}}/{{listItem.section.href}}"
              title="{{listItem.section.title}}">
              {{listItem.section.title}}
            </a>
          </p>
        {% endif %}

        <p class="wf-related-guides__guide-title">
          <a href="{{site.WFBaseUrl}}/{{listItem.href}}">
            {% if listItem.thumbnail %}
            <img src="{{ listItem.thumbnail }}" alt="{{ listItem.title }}">
            {% endif %}
            {{listItem.title}}
          </a>
        </p>
      </li>
    {% endfor %}
    </ul>

  </div>
</div>

{% endif %}
