<!DOCTYPE html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/Product">
  <head>
    {% include head.liquid %}
  </head>

  <body class="{{ page.class }}">
    {% injectdata project _project.yaml %}
    {% injectdata content _book.yaml %}

    {% include header.liquid %}

    <div class="editorial-header">
      <div class="container">
        <nav class="breadcrumbs">
          <p>
          {% for p in page.ancestors %}
            <a href="{{ p.url }}">{{ p.title }}</a>
            /
          {% endfor %}
        </p>
        </nav>

        <h1 class="editorial-header__title">{{page.title}}</h1>
        <p class="editorial-header__excerpt g-wide--pull-1">{{page.introduction}}</p>
      </div>
    </div>

    {% wrap content%}
        {{ content }}
    {% endwrap %}

    {% include footer.liquid %}

    {% include scripts.liquid %}
  </body>
</html>
