{% if site.include_open_html %}
<!DOCTYPE html>
<html lang="en" class="no-js no-touch" itemscope itemtype="http://schema.org/Article">
  <head>
{% endif %}
    {% include head.liquid %}
  </head>

  <body class="{{ page.class }} page--article article--{{page.collection}} theme--{{page.collection}}">
    {% injectdata content _betterbook.yaml %}

    {% include header.liquid %}

    <div class="article-container">
      <div class="editorial-header">
        <div class="container">
          <div class="content">

            {% include modules/breadcrumbs.liquid %}

            <h1 class="tag editorial-header__title">{{ page.parent.title }}</h1>
            <h2 class="editorial-header__subtitle">{{page.title}}</h2>

            <p class="editorial-header__excerpt">{{page.introduction}}</p>

          </div>
        </div>
      </div>

      {{ content }}

      {% if page.lessonsToc != false %}
        {% include modules/lessons_toc.liquid %}
      {% endif %}

    </div> <!-- /.article-container -->

    {% include cc.liquid %}
    {% include footer.liquid %}

{% if site.include_open_html %}
    {% include scripts.liquid %}
  </body>
</html>
{% endif %}
