{% if site.include_open_html %}
<!DOCTYPE html>
<html lang="en" class="no-js no-touch">
  <head>
{% endif %}
    {% include head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }} page--{{page.id}} theme--{{page.id}}" itemscope itemtype="http://schema.org/Article">
    {% injectdata content _betterbook.yaml %}

    {% include header.liquid %}

    <div class="guides-section">
      <header class="container">
          <h2 class="xxlarge">{{ page.title }}</h2>
          <div class="divider divider--secondary">
            <span class="themed divider-icon"></span>
          </div>
          <p>{{ page.description }}</p>
      </header>

      <ul class="guides-list container">

        {% for guide in page.articles.[page.id] %}
        {% comment %} Include all guides if: it is localized to the language of the page,
        there are no localizations, or it is English and there is no localized version.
        {% endcomment %}
        {% if guide.published != false %}
        {% if guide.langcode == page.langcode or guide.has_localization[page.langcode] == false %}
        {% if guide.langcode == page.langcode or guide.is_localization == false %}
        <li class="guides-list__item g--half theme--{{ guide.id }} {% cycle '', 'g--last' %}">
          <div class="primary-content">
            <h3 class="xlarge"><a href="{{site.baseurl}}{{guide.url | clean | localize_link:guide}}" title="Go to {{guide.title}}" class="themed">{{guide.title}}</a></h3>
            <p>{{guide.description}}</p>
          </div>
          <div class="secondary-content">
            <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
            <ol class="list-links list-links--secondary">
            {% for article in page.articles[guide.id] %}
              {% if article.langcode == page.langcode or article.langcode == guide.langcode %}
              {% if article.langcode == page.langcode or article.has_localization[page.langcode] == false %}
              <li><a href="{{site.baseurl}}{{article.url | clean | localize_link:article}}" title="{{"read_the_lesson" | localize_string}} {{article.title}}">{{article.title}}</a></li>
              {% endif %}
              {% endif %}
            {% endfor %}
            </ol>
          </div>
        </li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}

      </ul>
    </div>

    {% include footer.liquid %}

{% if site.include_open_html %}
    {% include scripts.liquid %}
  </body>
</html>
{% endif %}
