{% if site.include_open_html %}
<!DOCTYPE html>
<html lang="en" class="no-js no-touch" itemscope itemtype="http://schema.org/Article">
  <head>
{% endif %}
    {% include head.liquid %}
  </head>

  <body class="{{ page.class }}">
    {% injectdata project _project.yaml %}
    {% injectdata content _betterbook.yaml %}

    {% include google_header.html %}

    {% include header.liquid %}

    <div class="page-header">
      <div class="container">

        {% include modules/breadcrumbs.liquid %}

        <h3 class="xxlarge text-divider">{{ page.title }}</h3>
        <p class="page-header__excerpt g-wide--push-1 g-wide--pull-1">{{page.introduction}}</p>
      </div>
    </div>

    {{ content }}

    <div class="guides-section">
      <header class="container">
          <h2 class="xlarge">Guides Section</h2>
          <p>Follow these guides and build web content users can access on any device they choose.</p>
      </header>

      <ul class="guides-list container-medium">

        {% for guide in page.articles.[page.id] %}

        <li class="guides-list__item g--half theme--{{ guide.id }} {% cycle '', 'g--last' %}">
          <h3 class="xlarge"><a href="{{site.baseurl}}{{guide.url}}" class="themed">{{guide.title}}</a></h3>
          <p>{{guide.description}}</p>
          <div class="secondary-content">
            <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
            <ol class="list-links list--reset">
            {% for article in page.articles[guide.id] %}
              <li><a href="{{site.baseurl}}{{article.url}}">{{article.title}}</a></li>
            {% endfor %}
            </ol>
          </div>
        </li>

        {% endfor %}

      </ul>
    </div>

    {% include footer.liquid %}

    {% include scripts.liquid %}
{% if site.include_open_html %}
  </body>
</html>
{% endif %}
