{% if site.include_open_html %}
<!DOCTYPE html>
<html lang="en" class="no-js no-touch" itemscope itemtype="http://schema.org/Article">
  <head>
{% endif %}
    {% include head.liquid %}
  </head>

  <body class="{{ page.class }} page--section theme--{{page.id}}">
    {% injectdata project _project.yaml %}
    {% injectdata content _betterbook.yaml %}

    {% include google_header.html %}

    {% include header.liquid %}

    <div class="article-container">

      <div class="page-header">
        <div class="container">

          {% include modules/breadcrumbs.liquid %}

          <h3 class="xxlarge text-divider themed">{{ page.title }}</h3>
          <p class="page-header__excerpt g-wide--push-1 g-wide--pull-1">{{page.introduction}}</p>
        </div>
      </div>

      {{ content }}

      <div class="articles-section">
        <div class="container">
          <p class="articles-count">{{page.articles.[page.id].size}} guides</p>
          <ol class="articles-list">

            {% for guide in page.articles.[page.id] %}
            <li class="articles-list__item">
              <h3 class="xxlarge"><a href="{{site.baseurl}}{{guide.url}}" class="themed">{{guide.title}}</a></h3>
              <p class="g-wide--push-1 g-wide--pull-1">{{guide.description}}</p>
            </li>
            {% endfor %}

          </ol>
        </div>
      </div>

    </div> <!-- /.article-container -->

    {% include footer.liquid %}

{% if site.include_open_html %}
    {% include scripts.liquid %}
  </body>
</html>
{% endif %}
