{% if site.include_open_html %}
<!DOCTYPE html>
<html lang="en" class="no-js no-touch" itemscope itemtype="http://schema.org/Article">
  <head>
{% endif %}
    {% include head.liquid %}
  </head>

  <body class="{{ page.class }} page--section page--{{page.id}} theme--{{page.id}}">
    {% injectdata content _betterbook.yaml %}

    {% include google_header.html %}

    {% include header.liquid %}

    <div class="article-container">

      <div class="page-header">
        <div class="container">

          {% include modules/breadcrumbs.liquid %}

          <header class="clear">
            <h3 class="xxlarge themed">{{ page.title }}</h3>
            <div class="divider">
              <span class="themed divider-icon"></span>
            </div>
            <p class="page-header__excerpt g-medium--2 g-wide--3 g--centered">{{page.introduction}}</p>
          </header>
        </div>
      </div>

      {{ content }}

      <div class="articles-section">


        <div class="container">
          <span class="article-section__icon icon-circle themed themed--background"><span>{{page.articles.[page.id].size}}</span></span>
          <span class="articles-count themed">Guides available</span>
          <ol class="articles-list">

            {% for guide in page.articles.[page.id] %}
            <li class="articles-list__item">
              <h3 class="xlarge g-wide--2 g--centered"><a href="{{site.baseurl}}{{guide.url | clean}}" title="Read the lesson {{guide.title}}" class="themed">{{guide.title}}</a></h3>
              <p class="g-medium--2 g-wide--3 g--centered">{{guide.description}}</p>
            </li>
            <div class="divider divider--secondary divider--short">
              <span class="divider-icon divider-icon--secondary"></span>
            </div>
            {% endfor %}

          </ol>
        </div>
      </div>

    </div> <!-- /.article-container -->

    {% include footer.liquid %}

{% if site.include_open_html %}
    {% include scripts.liquid %}
  </body>
</html>
{% endif %}
