{% if site.include_open_html %}
<!DOCTYPE html>
<html lang="en" class="no-js no-touch">
  <head>
{% endif %}
    {% include head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }}" itemscope itemtype="http://schema.org/Article">
    {% injectdata content _betterbook.yaml %}

    {% include header.liquid %}

    <header class="spotlight-header spotlight-header--detail spotlight-header--{{ page.header_orientation }} clear">
      <div class="spotlight-header__container container">
        {% include modules/breadcrumbs.liquid %}
        <div class="spotlight-header__copy g--half">
          <h1 class="xxlarge">{{ page.title }}</h1>
          <p>{{ page.introduction }}</p>
        </div>
        <div class="spotlight-header__media g--half g--last">
          <img src="{{ page.header_image }}" class="spotlight-header__image">
        </div>
      </div>
    </header>

    {{ content }}

    {% include modules/showcase_opinions.liquid %}

    <div class="container">
      <div class="related-items-group">
        {% include modules/other_showcases.liquid minimal=true %}
        {% include modules/related_guides.liquid %}
      </div>

    </div>

    {% include footer.liquid %}

{% if site.include_open_html %}
    {% include scripts.liquid %}
  </body>
</html>
{% endif %}
