<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ page.feed_title | xml_escape }}</title>
    <link>{{ page.feed_link }}</link>
    <description>{{ page.feed_description | xml_escape }}</description>
    <pubDate>{{ page.feed_update | date_to_rfc822 }}</pubDate>
    <lastBuildDate>{{ site.time | date_to_rfc822 }}</lastBuildDate>
    <generator>Jekyll v{{ jekyll.version }}</generator>
    {% if page.feed_image %}<image>
      <url>{{ site.WFAbsoluteUrl | append: page.feed_image }}</url>
      <title>{{ page.feed_title | xml_escape }}</title>
      <link>{{ page.feed_id | append: "/" | append: page.feed_image |  }}</link>
    </image>{% endif %}
    <atom:link href="{{ page.feed_id  | append: '/rss.xml'}}" rel="self" type="application/rss+xml" />
    {% for post in page.feed_pages %}
    <item>
      <title>{{ post.title | xml_escape }}</title>
      <pubDate>{% if post.updated_on %}{{ post.updated_on | date: "%a, %d %b %Y" }}{% else%}{{ post.published_on | date: "%a, %d %b %Y" }}{% endif %} 00:00:01 GMT</pubDate>
      <link>{{ post.raw_canonical_url }}?utm_source=feed&amp;utm_medium=feed&amp;utm_campaign={{ page.feed_section }}_feed</link>
      <guid isPermaLink="true">{{ post.raw_canonical_url }}?utm_source=feed&amp;utm_medium=feed&amp;utm_campaign={{ page.feed_section }}_feed</guid>
      <description>
        <![CDATA[
          <img src="https://ga-beacon.appspot.com/UA-52746336-1{{ post.relative_url }}?feed_type=rss&pixel">
          {{ post.content }}
        ]]>
      </description>
      {% if post.tags %}{% for tag in post.tags %}<category>{{ tag | xml_escape }}</category>
      {% endfor %}{% endif %}
      {% if post.authors %}{% for author in post.authors limit:1 %}{% assign contributor = site.data["contributors"][author] %}
      <author>{% if contributor.email %}{{contributor.email}}{% else %}sorry@example.com{% endif %} ({{contributor.name.given}} {{contributor.name.family}})</author>
      {% endfor %}{% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
