{% if site.include_open_html %}
<!DOCTYPE html>
<html lang="en" class="no-js no-touch" itemscope itemtype="http://schema.org/Article">
  <head>
{% endif %}
    {% include head.liquid %}
  </head>

  <body class="page--{{ page.class }} page--{{page.id}} theme--{{page.id}}">
    {% injectdata content _betterbook.yaml %}

    {% include header.liquid %}

    <div class="guides-section">
      <header class="container">
          <h2 class="xxlarge">{{ page.title }}</h2>
          <div class="divider divider--secondary">
            <span class="themed divider-icon"></span>
          </div>
          <p>{{ page.description }}</p>
      </header>

      <ul class="guides-list container">

        {% for guide in page.articles.[page.id] %}
        {% if guide.published != false %}
        <li class="guides-list__item g--half theme--{{ guide.id }} {% cycle '', 'g--last' %}">
          <div class="primary-content">
            <h3 class="xlarge"><a href="{{site.baseurl}}{{guide.url | clean}}" title="Go to {{guide.title}}" class="themed">{{guide.title}}</a></h3>
            <p>{{guide.description}}</p>
          </div>
          <div class="secondary-content">
            <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
            <ol class="list-links list-links--secondary">
            {% for article in page.articles[guide.id] %}
              <li><a href="{{site.baseurl}}{{article.url | clean}}" title="Read the lesson {{article.title}}">{{article.title}}</a></li>
            {% endfor %}
            </ol>
          </div>
        </li>
        {% endif %}
        {% endfor %}

      </ul>
    </div>

    {% include footer.liquid %}

{% if site.include_open_html %}
    {% include scripts.liquid %}
  </body>
</html>
{% endif %}
