{% comment %}
Base template used by remember.liquid and takeaway.liquid
TODO: Apply and clean up styles
TODO: Verify all strings are localized
{% endcomment %}

{% if include.text %}
{{ include.type }}: {{ include.text }}
{% else %}
# WARNING: This page has an include that should be a callout (i.e. a highlight.liquid, but it has no text - please fix this)
{% endif %}

{% if include.list %}
# WARNING: This page has a highlight.liquid include that wants to show a list but it's not supported on devsite. Please change this to text and fix the issue
{% endif %}

{% comment %}
<div class="wf-highlight-list{% if include.type %} wf-highlight-list--{{ include.type }}{% endif %}" markdown="1">
  <h3 class="wf-highlight-list__title">{{ include.title }}</h3>

  {% if include.list %}
  <ul class="wf-highlight-list__list">
    {% for item in include.list %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endcomment %}
